html {
    scroll-behavior: smooth;
}

body {
    font-family: proxima-nova, Arial;
    font-style: normal;
   
   
}
    body h1 {
        font-weight: 600;
    }
    body h2 {
       
    }
    body h3 {
        font-weight: 600;
    }
    body p {
        font-weight: 600;
    }

.cochlea{
    background-color: black; 
    color: white;
}

.dynamicHeaderContainer {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12.5vw;
    display: flex;
    justify-content: left;
}

#dynamicHeader {
    height: 25px;
    font-size: 25px;
    font-weight: 300;
    text-transform: lowercase;
    
    white-space: nowrap;
}

@keyframes blinkAnimation {
    0% {
        border-bottom: 4.5px solid black;
    }

    80% {
        border-bottom: 4.5px solid black;
    }

    100% {
        border-bottom: 4.5px solid white;
    }
}

.underscore {
    width: 30px;
    border-bottom: 4.5px solid black;
    animation: blinkAnimation 2000ms infinite normal;
    display: block;
}

.menu-text {
    text-decoration: none;
    text-transform: lowercase;
    
}

    .menu-text span {
        width:150%;
        line-height: 130px;
        font-size: 25px;
        color: black;
    }

    .menu-text:hover {
        text-shadow: 0px 0px 1px black;
        border-bottom: 4.5px solid black;
    }

.menu:visited {
    text-decoration: none;
    color: black;
}

.cochleaMenuText {
    text-decoration: none;
    text-transform: lowercase;
    color: white;
}
    .cochleaMenuText span {
        line-height: 130px;
        font-size: 25px;
        color: white;
    }
    .cochleaMenuText:hover {
        text-shadow: 0px 0px 2px white;
        border-bottom: 4.5px solid white;
    }
.menu-container {
    display: flex;
    justify-content: space-between;
    height: 100px;
    margin-left: 12.5%;
    margin-right: 12.5%;
}

.logo {
    height: 100px;
    width: auto;
    vertical-align: bottom;
    display: none;
}

.cochleaLogo {
    height: 100px;
    width: auto;
    vertical-align: bottom;
    display: none;
    filter: invert(100%);
}



.name {
}

.allWork {
    position: absolute;
    left: 50%;
}

.down-Arrow {
    width: 20px;
    height: 20px;
    border: solid black;
    border-width: 0 1px 1px 0;
    position: absolute;
    left: 50%;
    margin-left: -10px;
    bottom: 30px;
    -webkit-transform: rotate(45deg);
}




.padding {
    height: 30px;
}

.Work-image {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}

.Work-Listing {
    width: 100%;
    position: relative;
}



.Listing-contents {
    text-align: left;
    position: absolute;
    left: 0;
    bottom: 0;
    color: #000;
    visibility: hidden;
    padding: 50% 10% 10% 10%;
}

.Work-Listing span {
    font-size: 15px;
    color: white;
    background-color: black /* rgb(254,138,113)*/;
    border-radius: 4px;
    padding: 0 2px 0 2px;
    margin-right: 10px;
    margin-bottom: 0px;
}



.Work-Listing:hover .Listing-contents {
    visibility: visible;
}

.Work-Listing:hover .Work-image {
    opacity: 0.5;
    filter: saturate(80%);
    filter: blur(1px);
}
.Work-Listing:hover .clientLogo {
    opacity: 0.5;
    filter: saturate(80%);
    filter: blur(1px);
}


.Work-container {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 5px;
    -moz-column-gap: 5px;
    column-gap: 5px; /* Specifying Column Gap */
    margin: 0px 12.5% 0px 12.5%;
    /*height: 100vh; TO MAke height of one page potentially with side scrolling of projects?*/
}

.clientLogo{
    position: absolute;
    width: 25%; 
    right: 5%; 
    bottom: 0;
}
.listText {
    padding: 5vw 0 5vw 15vw ;
    
    
}

    .listText li {
        margin: 0 0 3vh 0;
    }


#landingHeader {
    height: 100vh;

}
footer {
    height:30vh;
    position: relative;
    margin: 0px 12.5% 0px 12.5%;
    display: flex;
    
    justify-content: space-between;
}
.footer-section{
    position: relative;
    width: 100%;
}

.footer-section-contents {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    
}
.footer-section-right {
    position: absolute;
    right: 0%;
}
.up-Arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    width: 20px;
    height: 20px;
    border: solid black;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(-135deg);
}

#back-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-56%);
}


#back-text:before {
    width: 10px;
    height: 10px;
    display: block;
    border: 1px solid;
    border-width: 0 2px 2px 0;
    content: '';
    margin: auto;
    -webkit-transform: rotate(-225deg);
}
.social-media-logo {
    width: 3vw;
}
.invert {
    filter: invert(100%);
}

.pagination {
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.4em;
    z-index: 10;
}

.pagination a {
    display: block;
    height: 20px;
    margin-bottom: 5px;
    font-size: 1em;
    color: black;
    position: relative;
    padding: 4px;
}

.paginationA.active:after {
    box-shadow:  inset 0 0 0 5px ;
}




.paginationA .hover-text {
    position: absolute;
    right: 15px;
    top: 7px;
    opacity: 0;
    -webkit-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    padding-right: 15px;
}

.paginationA:hover .hover-text {
    opacity: 1;
}

.paginationA:after {
    -webkit-transition: box-shadow 0.5s ease;
    transition: box-shadow 0.5s ease;
    width: 10px;
    height: 10px;
    display: block;
    border: 1px solid;
    border-radius: 50%;
    content: '';
    position: absolute;
    margin: auto;
    right: 4px;
    bottom: 0;
}


 ul {
    display: block;
    list-style-type: disc;
   
}
ul, ol {
        list-style: none;
        list-style-position: initial;
        list-style-image: initial;
        list-style-type: none;
    }




.workMainBody {
    position: relative;
    margin: 30px 12.5% 0 12.5%;
}
    .workMainBody h1 {
        font-size: 50px;
        font-weight: lighter;
    }
    .workMainBody h2 {
        font-size: 30px;
        font-weight: lighter;
    }
    .workMainBody h3 {
        font-size: 20px;
        font-weight: 100;
    }
.notBold{
    font-weight:normal;
}
#intro h1 {
    font-weight: 600;
}
.workTitle{
    width: 80%;
}
.downloadIconContainer {
    position: absolute;
    top: 40px;
    right: 0;
}

.downloadIcon {
    -webkit-transform: scale(0.7); /* Saf3.1+, Chrome */
    -moz-transform: scale(0.7); /* FF3.5+ */
    -ms-transform: scale(0.7); /* IE9 */
    -o-transform: scale(0.7); /* Opera 10.5+ */
    transform: scale(0.7);
}
    .downloadIcon:hover {
        animation-name: grow;
        animation-duration: 0.5s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
.downloadIconText {
    visibility: hidden;
}
.downloadIcon:hover ~ .downloadIconText {
    visibility: visible;
    -webkit-animation: fadein 1s;
}

.downloadCV{
    text-decoration: none;
    color:black;
    border: solid black;
    border-width: 0 0 1px 0;
}
    .downloadCV:hover {
        font-weight: bolder;
    }

@keyframes fadein{
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes grow {
   
    100% {
        -webkit-transform: scale(0.9); /* Saf3.1+, Chrome */
        -moz-transform: scale(0.9); /* FF3.5+ */
        -ms-transform: scale(0.9); /* IE9 */
        -o-transform: scale(0.9); /* Opera 10.5+ */
        transform: scale(0.9);
        -webkit-transform: scale(0.7); /* Saf3.1+, Chrome */
        -moz-transform: scale(0.7); /* FF3.5+ */
        -ms-transform: scale(0.7); /* IE9 */
        -o-transform: scale(0.7); /* Opera 10.5+ */
        transform: scale(0.7);
        transform: rotate(5deg);
    }
}

.heroImage {
    width: 100%;
    object-fit: cover;
    padding: 30px 0 30px 0;
    height: 100vh;
    object-position: 50% 50%;
}
.videoFrame {
    width: 100%;
    position: relative;
}

.playIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0.5;
}

.playIcon:hover{
    opacity:1;
}

.video{
    width:100%;
    display:none;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.links {
    color: black;
    text-decoration: none;
}

.subImage {
    
}
.subImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.subImage img {
    width: 100%;
}
.posterCarousel {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35vw;
    height:100%;
    
}
    .posterCarousel .item {
        opacity: 0.5;
    }
    .posterCarousel .item.slick-active {
        opacity: 1;
    }

.slick-slide {
    margin: 0 60px 0 60px;
}

    .slick-slide img {
        width: 100%;
       
    }

.prev-arrow {
    width: 20px;
    height: 20px;
    border: solid black;
    border-width: 0 1px 1px 0;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    left: -40px;
    -webkit-transform: rotate(135deg);
    background-color: transparent;
    outline: none;
}

.next-arrow {
    width: 20px;
    height: 20px;
    border: solid black;
    border-width: 0 1px 1px 0;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    right: -40px;
    -webkit-transform: rotate(-45deg);
    background-color: transparent;
    outline: none;
}

/*
.projectHeader {
    position:absolute;
    width: 40%;
    top: 0;
    left: 20px;
}
   
.headImage {
    height: 100%;
    width: 50%;
    object-fit: cover;
}

.workSectionPage {
    height: 100vh;
    position: relative;
}
    
.workSectionContents {
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
}
     */
.workTwoColumn {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-width: 10vw;
}
    .workTwoColumn img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .workTwoColumn div {
        width: 100%;
    }


.problemDefinitionContainer {

    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 10vw;
}
    .problemDefinitionContainer div {
        width: 100%;
    }
    .problemDefinitionContainer img {
        width: 100%; 
        height: 100%;
        object-fit: cover;
    }
    /*
.twoPartDetailContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100vh;
    /*-webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-width: 10vw; 
}

.twoPartDetailSubdivison {
    width: 40%;
    padding: 10vh 0 10vh 0;
}


.contextual img {
    width: 30vw;
    height: 30vw;
    object-fit: cover;
}
 */
@media (max-width: 1200px) {
    .Listing-contents h1 {
        font-size: 20px;
    }

    .Listing-contents p {
        font-size: 15px;
    }

    .Listing-contents span {
        font-size: 12px;
    }
}
@media (max-width: 1000px) {
    .workMainBody h1 {
        font-size: 40px;
    }

    .workMainBody h2 {
        font-size: 30px;
    }

    .workMainBody h3 {
        font-size: 20px;
    }

    .twoPartDetailContainer {
        display: flex;
        flex-direction: column;
    }

    .twoPartDetailSubdivison {
        width: 100%;
        padding: 10vh 0 10vh 0;
        height: auto;
    }

    .contextual img {
        width: 50vw;
        height: 50vw;
        object-fit: cover;
    }

    .posterCarousel {
        width: 80vw;
    }

    .prev-arrow {
        visibility: hidden;
    }

    .next-arrow {
        visibility: hidden;
    }

    .Work-container {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
    .problemDefinitionContainer {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
    .Work-image {
        height: 30vw;
    }

    .Listing-contents h1 {
        font-size: 20px;
    }

    .Listing-contents p {
        font-size: 15px;
    }

    .Listing-contents span {
        font-size: 12px;
    }

    .listText {
        padding-left: 0;
    }

    .heroImage {
        height: 50vh;
    }
    .playIcon {
        height: 50%;
    }
    #dynamicHeader {

        font-size: 50px;
    }
    
}


@media (max-width: 700px) {
    .aboutLanding {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }

    .emailColumns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }

    .aboutElement {
        height: 50vw;
    }

    .social-media-logo {
        width: 5vw;
    }
    #dynamicHeader {
        font-size: 40px;
    }
    .Listing-contents p {
        font-size: 10px;
    }
   
}

@media (max-width: 500px) {
    .workMainBody h1 {
        font-size: 30px;
    }

    .workMainBody h2 {
        font-size: 20px;
    }

    .workMainBody h3 {
        font-size: 15px;
    }

    .projectHeader {
        position: relative;
        width: 100%;
        top: 0;
        left: 0px;
    }

    .problemDefinitionContainer {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }

    .workTwoColumn {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }

    .subImage {
        width: 100%;
    }

    .downloadIconContainer {
        position: relative;
        top: 0;
        right: 10px;
    }

    .downloadIcon {
        -webkit-transform: scale(0.5); /* Saf3.1+, Chrome */
        -moz-transform: scale(0.5); /* FF3.5+ */
        -ms-transform: scale(0.5); /* IE9 */
        -o-transform: scale(0.5); /* Opera 10.5+ */
        transform: scale(0.5);
    }

    .workTitle {
        width: 100%;
    }

    .Work-container {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
    .Listing-contents p {
        font-size: 12px;
    }
    .Listing-contents h1 {
        font-size: 30px;
    }

    .name {
        display: none;
    }

    .logo {
        display: block;
        vertical-align: top;
    }

    .cochleaLogo {
        display: block;
        vertical-align: top;
    }

    .Work-image {
        height: 70vw;
    }

    .paginationA:hover .hover-text {
        opacity: 0;
    }

    #copyright {
        display: none;
    }

    #back-text {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0%,-56%)
    }

    .social-media-logo {
        width: 6vw;
    }
    #dynamicHeader {
        font-size: 30px;
    }
    #index-copyright {
       visibility:hidden;
    }
}
@media (max-width: 400px){
    #dynamicHeader {
        font-size: 25px;
    }
}
@media (max-width: 350px){
    #dynamicHeader {
        font-size: 20px;
    }
}
@media (min-width: 1000px){
    #dynamicHeader{
        font-size: 50px;
    }
}



#contact {
    margin: 130px 12.5% 0 12.5%;
}


.contactContainer {
    height: 100vh;
    margin: 0 12.5% 0 12.5%;
}

.emailColumns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}

.form {
    width: 100%;
    padding-top: 130px;
}

.formBox {
    width: 100%;
}

